@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

$body-bg: #f8f8fb;
$container-bg: #fff;

// Color System
$white:    #fff;
$blue: #3258F2;
$lightBlue: #A0EADE;
$cambridgeBlue: #BFD2BF;
$orange: #F2545B;
$red: #A93F55;
$purple: #a855f7;
$green: #646F4B;
$dark: #000000;
$light: #fff;

$colors:(
    "blue": $blue,
    "orange": $orange,
    "red": $red,
    "purple": $purple,
    "lightBlue": $lightBlue,
    "cambridgeBlue": $cambridgeBlue,
    "green": $green,
    "dark": $dark,
    "light": $light
);

//variants
$primary: $purple;
$secondary: $lightBlue;
$success: $green;
$dangers: $red;
$dark: $dark;
$light: $light;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success": $success,
    "danger": $danger,
    "dark": $dark,
    "light": $light
);

$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

$container-padding: 24px;
$sidebar-width: 200px;
$sidebar-width-collapsed: 90px;
$link-color: $primary;
$border-color: #e9ecef;
$text-color: $dark;

.dark {
    $container-bg: #111c44;
    $body-bg: #0f172a;
    $text-color: $light;
    $link-color: $white;
    $card-bg: $container-bg ;
    $body-color: #fff;
    $table-bg:$container-bg ;
    $modal-bg:$container-bg ;


    --#{variable-prefix}body-bg: #{$body-bg};
    --#{variable-prefix}text-color: #{$text-color};
    --#{variable-prefix}link-color: #{$link-color};
    --#{variable-prefix}container-bg: #{$container-bg};
    --#{variable-prefix}card-bg: #{$card-bg};
    --#{variable-prefix}body-color: #{$body-color};
    --#{variable-prefix}table-bg: #{$table-bg};
    --#{variable-prefix}modal-bg: #{$modal-bg};
    

    @import "./node_modules/bootstrap/scss/bootstrap";
}

@import "./node_modules/bootstrap/scss/bootstrap";